name: Build Node EXE

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install pkg
      run: npm install -g pkg

    - name: Install project dependencies
      run: npm install

    - name: Build EXE
      run: pkg ./main.js --targets node18-win-x64 --output app.exe

    - name: Upload EXE
      uses: actions/upload-artifact@v3
      with:
        name: app-exe
        path: app.exe
